  ::   .:   :::.   ::::::::::.::::::::::..-:.     ::-.   :::::::. :::::::-.    :::.    .-:.     ::-.                            
 ,;;   ;;,  ;;`;;   `;;;```.;;;`;;;```.;;;';;.   ;;;;'    ;;;'';;' ;;,   `';,  ;;`;;    ';;.   ;;;;'                            
,[[[,,,[[[ ,[[ '[[,  `]]nnn]]'  `]]nnn]]'   '[[,[[['      [[[__[[\.`[[     [[ ,[[ '[[,    '[[,[[['                              
"$$$"""$$$c$$$cc$$$c  $$$""      $$$""        c$$"        $$""""Y$$ $$,    $$c$$$cc$$$c     c$$"                                
 888   "88o888   888  888o       888o       ,8P"`        _88o,,od8P 888_,o8P' 888   888   ,8P"`                                 
 MMM    YMMYMM   \"\"`YMMMb      YMMMb     mM"           ""YUMMMP"  MMMMP"`   YMM   \"\"`mM"                                    
                                                                                                                                
                                                                                                                                
                                                                                                                                
:::::::-.    :::.     :::::::..    :::  .      :::      .::.:::.       :::    .,:::::: :::::::...-:.     ::-.     .,,.   .::::. 
 ;;,   `';,  ;;`;;    ;;;;``;;;;   ;;; .;;,.   ';;,   ,;;;' ;;`;;      ;;;    ;;;;'''' ;;;;``;;;;';;.   ;;;;'   ,;;'`';,`;.  ,;'
 `[[     [[ ,[[ '[[,   [[[,/[[['   [[[[[/'      \[[  .[[/  ,[[ '[[,    [[[     [[cccc   [[[,/[[['  '[[,[[['     [[, _,[[  [nn[, 
  $$,    $$c$$$cc$$$c  $$$$$$c    _$$$$,         Y$c.$$"  c$$$cc$$$c   $$'     $$""""   $$$$$$c      c$$"        Y$$P"$$ $"   $c
  888_,o8P' 888   888  888b "88bo,"888"88o,       Y88P     888   888  o88oo,.__888oo,__ 888b "88bo,,8P"`         ,,_,d8" Yb,_,8P
  MMMMP"`   YMM   \"\"`MMMM   "W"  MMM "MMP"       MP      YMM   \"\"`""""YUMMM""""YUMMMMMMM   "W"mM"             "MP"    "YMP" 
                                                                                                                                                           
                                                                                                  
                                            xxxxxxx ;++x                                          
                                      ;:::;+xxxxx&&xxxxxxxx;;                                     
                                   +;:::;+xxxxxXXxx$$$XXX$Xx+;;+                                  
                                 ;::+x$&&&&&&$$&xx;;x&&&&&$$Xxx;;                                 
                               ;;+$x&&&&&$+;;::::+;;:+x$&&&&&&Xx+;+                               
                             ;+x&&&&&&$x;:.............:;x&&&&&$xxxx                              
                            xx&&&&&&$+::................::;x&&&&&$xXx                             
                          xxX&&&&&$x::.....................:;$&&&&&X$$                            
                         X$$&&&&&x;::.......................:;$&&&&&$&$                           
                        x$&&&&&$+;::........................::;$&&&&&&&$                          
                       $&&&&&&$+;:::.........................::+&&&&&&&&$                         
                      $$&&&&&&x;:............................:::;$&&&&&&&$                        
                     x$&&&&&&X;;:.............................:::x&&&&&&$$$                       
                   $X&&&&&&&$+::..............................:::;&&&&&&&Xxx                      
                  &$&&&x............::::++;:...................:;;x&&&&&&&&Xxx                    
                 &&&&&&.;+;$&&$$$Xxx;:;..............::;;;:..:......:$&&&&&&&XxX                  
                &&&&&&&..x&&&&&&&&&&&&xx&$:::............:+;:.::.........:&&&&&X$x                
                &&&&&&&..X&&&&&$&&&&&$;x$&&&X.;...::+:x&&&&;x&x&x+$&&&;;.;+&&&&XxXx               
                &&&&&&X..x&&&&&&&&&&&$x&&&&&&...+:.:&$&&&&&x+&xXx:X&&&&&;.x&&&&&&xXx;             
                &&&&&&x.::$&&&&&&&&&&&&&&&&&$.::.;:.&&&&&&&&xx&x&;X&&&&&..X&&&&&&&xXx             
                 &&&&&&:..:;&&&&&&&&&&&&&&&&.;:...;.+&&&&&&&$&&&&&x&&&&$:.$&&&&&&&&$xx            
                  &&&&&&x;.:::x$&&&&&&&&&&$.;:....:x.$$&&&&&&&&&$&&&&&$:.;&&&&&&&&$&$X            
                  &&&&&&&$x;:..:::::::;:...+:......;+.x&&&&&&&&&$$&&x:..+&&&&&&&&&&&$$            
                  &&&&&&Xx+;;;..:;;;.....;x;:......:+;..:;+xx+;:::....;;&&&&&&&&&$$$&             
                  &&&&&XXx;;;;;;;++;..;;x+.........::++...::.......:;xXX&&&&&&&&&&X$              
                 &&&&&&;;x;;;;;;::;;;++;++;;;;::::::::;x;+;;:::::;+;+xxx&&&&&&&&&&$$              
                 &&&&&x:;;;;;;;;;;;;;;;;;;+xxxx++;xxxx+;+++;;;;;;;;;++;$&&&&&&&&&&&X;             
                &$&&&&&;xx;:;;;;;;;;::::::::;;+x+;;;::;;;;;+;;;:;;:;;:+&&&&&&&&&&&$x+             
               &&$&&&&&$&&+;:;;:;::::;;;;;;;;;::::::::::::;;;;;;;;;::::&&&&&&&&&&XXx              
              &&$&&&&&&&&&$;;;;;::::;&&&x++;+xxxxxxxxxxx+;::;:;:::;+xx&&&&&&&&&&&$XX              
             &&&&&&&&&&&&&&;;;;;:::::;X&;:...........:+$&;::::::::x&&$&&&&&&&&&&$&&$$             
           $&&&&&&&&&&&&&&&$+;;;:::::::;x&&&X.....x+;x&+:::::::::;$&&&&&&&&&&&&&$&$$$X            
         ..;  X$x$$&&&&&&&&&x+;;;:::::::;;;+xx$$$xxx+;;:::::::::;&&&&&&&&&&&&&&&$$&$&$            
        .............:$&&&&&&$x;;;::::.:..::;;:::::::::::::::::;&&&&&&&x;.....&&$&$$$$X           
         ....................xXx;;::::::::::::::::::::..:.::;;;+:..............&&&&$$$X           
         ........................;;:...:::::::::::::::...:::...................X&&&&$$            
         :.........................;:........::.........:......................:&&&&$             
         ............................:..........................................$$&&&             
        ..............................;::...............::;+$&&&&&$:............;$&&              
     &&+..................................:::::::;::;+xxxx$&&&&&&&&;.............&&&              
.:xxXX$.......................+&$$Xx;.........xX+:.;;;xxX&&&&&&&&&&&&:...........x&               
....x+;.....................:X&&&&&&&&&&$xxx+;x...:;x+;&&&&&&&&&&&&&$:............&&              
x+...xX.....................x&&&&&&&&&&&&&&$X$&$xxx;+x&&&&&&&&&&&&&&&;:...........&$&             
x$...:;....................;&&&&&&&&&&&&&&&&&&&&&XxX&&&&&&&&&&&&&&&&$;:...........;&&&&           
&$:..;x$x.................;&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&$x;:...........+x;:x.         
&$x.x$$$$X$$x............:&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&Xxx;:..........:&&&&;         
&&$xxXX$$$&$xX$$x+.....:;&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&Xxxx;:.......:$&&&&&x         
&&xxX$$Xx$&&&&$xxX$x;:;x&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&Xx+;:::;x&&&$&&&&&&x         
XxX$$$$$$&&&&&&&Xx$&&&xx$&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&$&&&&&&&$x        
++X$$$$$X&&&XXXx&$X$$&$&&&$$&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&$+;;     
x$xxxxxx+x&xx$&$;&$&$&&$&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&xx:;;  
$x;xxx+x;+XXxxXx$xX&&X&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&$X$&&&&&&&$x;::.
xx&X;+xx$&x+xX&&xxX&X$&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&$$X$XX$$x$&&&&&&&&x...
&&&x&&Xxxxx$$$$&X$$X&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&$XX$$$$&&&&&&&&&x..
&&&&&&$&&$xxx;+xXxx$$&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&$XxX$$$&&&&&&&&&&x.
$&&&&&&&&$&&$xXxx&&$&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&$X&&$$&&&&&&&&&&&&x
xxx&&&&&&&&&X&$+&X$&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&$